.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.book {
  width: 20%;
  display: inline-block;
}

.book-title {
  font-size: 1.2em;
  font-weight: 600;
}

/* SPINNER!!! */

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 102px;
  height: 102px;
  margin: 1px;
  border-radius: 50%;
  border: 15px solid rgb(165, 197, 228);
  border-color: rgb(165, 197, 228) transparent rgb(165, 197, 228) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 0 auto;
  margin-top: 50px;
}